.lesson {
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 10px;
    background: #f5f5f5;
}

.lesson>h2 {
    margin-bottom: 10px;
    color: red;
}

.videoWrapper {
    position: relative;
    width: 95%;
    margin: 0 auto;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
}

.videoWrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
